.timePicker-container{
  borderLeft: 1px solid #323238;
   padding: 1.5rem 1.5rem 0;
   
   overflow-y: scroll;
   position: absolute;
   width: 280px;
   top: 0;
   bottom: 0;
   right: 0;
}

.timePicker-header{
  
}

.timePicker-list{
  margin-top: 0.75rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.timePicker-item{
  border: 0;
  background-color: #323238;
  color: #fff;
  padding: 0.5rem 0;
  cursor: pointer;
  border-radius: 6px;
  font-size: 0.875rem;
  line-height: 160%;

}
  
.timePicker-item:last-child {
    margin-bottom: 1.5rem;
},

.timePicker-item:disabled {
    background: none;
    cursor: default;
    opacity: 0.4;
}

.timePicker-item:not(:disabled):hover {
    background: #505059;
}

.timePicker-item:focus {
    box-shadow: 0 0 0 2px #E1E1E6;
}

@media(max-width: 900px) {
  .timePicker-list{
    grid-template-columns: 2fr;
  }
}