.confirmSchedule-container {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.confirmSchedule-form{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  max-width: 540px;
  margin: 1.5rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #A9A9B2;
  padding: 2rem;
  border-radius: 6px;
  color: #121214;
}  
    
.confirmSchedule-header{
  display: flex;
  align-items: center;
  gap: 1rem;

  padding-bottom: 1.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #323238;
}

.confirmSchedule-header p svg {
  color: #A9A9B2;
  width: 1.25rem;
  height: 1.25rem;
}

.confirmSchedule-formActions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.confirmSchedule-formActions button {
  padding: 0.55rem;
  border: 1px solid #7C7C8A;

  background: none;
  cursor: pointer;
  border-radius: 6px;

  transition: 0.5s;
}

.confirmSchedule-formActions button:hover {
  background-color: #b90e0a;
  color: #fff;
}

.confirmSchedule-formActions button[type=submit]:hover {
  background-color: #00875F;
}

.confirmSchedule-formActions button:disabled {
  opacity: 0.7;
}
