.calendar-container {
  display: flex;
   flex-direction: column;
   gap: 1.5rem;
   padding: 1.5rem;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-title { 
  font-weight: 500;
  text-transform: capitalize;
}

.calendar-title span {
  color: #A9A9B2;
}

.calendar-actions {
  display: flex;
  gap: 0.5rem;
  color: #A9A9B2;
}

.calendar-actions button {
   all: unset;
   cursor: pointer;
   line-height: 0;
   border-radius: 6px;
}

.calendar-actions button:hover{
  color: #E1E1E6;
  
}

.calendar-actions button:focus {
  box-shadow: 0 0 0 2px #E1E1E6;
}

.calendar-actions button svg {
  width: 1.25rem;
  height: 1.25rem;
}

.calendar-body {
  width: 100%;
  border-spacing: 0.25rem;
  table-layout: fixed;
}

.calendar-body thead th {
  color: #A9A9B2; 
  font-weight: 500;
  font-size: 0.875rem;
}

.calendar-body tbody:before {
  content: ".";
  line-height: 0.75rem;
  display: block;
  color: #202024;
}
.calendar-body tbody td {
  box-sizing: border-box
}
.calendar-day {
  all: unset;
  width: 100%;
  aspect-ratio: 1 / 1;
  background: #323238;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
}
.calendar-day:disabled{
  background: none;
  cursor: default;
  opacity: 0.4;
}

.calendar-day:not(:disabled):hover {
  background: #505059;
}

.calendar-day:focus{
  box-shadow: 0 0 0 2px #E1E1E6;
}
