.modal-container {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 540px;

  display: flex;
  flex-direction: column;

  margin: 1.5rem auto 0;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 6px;

  background-color: #A9A9B2;
  color: #121214;
}  

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.modal-actions button {
  padding: 0.55rem;
  border: 1px solid #7C7C8A;

  background: none;
  cursor: pointer;
  border-radius: 6px;

  transition: 0.5s;
}

.modal-actions button:hover {
  background-color: #b90e0a;
  color: #fff;
}

.modal-actions button[type=submit]:hover {
  background-color: #00875F;
}

.modal-actions button:disabled {
  opacity: 0.7;
}
